.headerHome {
  background-image: url('/src/assets/img/header.svg');
  justify-content: center;
  height: 430px;
}

a > .img-logo{
  margin-left: 5rem;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none!important;
  color: #5E17EB!important;
}

/*espaçamento entre links*/
.nav-link{
  margin-right: 2rem;
}

/*estilo e fonte links navbar pagina atual*/
.navbar-nav .nav-link.active{
  color: #FF792E!important;
  font-family: 'Montserrat', sans-serif!important;
}

/*estilo e fonte links navbar*/
.navbar-nav{
  --bs-nav-link-color: #021F59!important;
  --bs-nav-link-hover-color: #5E17EB!important;
  font-family: 'Montserrat', sans-serif!important;
}

#btn-entrar{
  font-family: 'Montserrat', sans-serif!important;
}

.btn {
  border-width: 0!important;
  color: #5E17EB!important;
}


/*Alinhamento do navbar fluid reponsivo*/
.navbar-collapse {
  flex-basis: auto!important; 
  flex-grow: 0!important; 
  transition: 1s!important;
}

/*houver e cor dos botoẽs*/
.btn-warning {
  --bs-btn-hover-bg: #6acef191!important;
  --bs-btn-hover-border-color: #ffffff!important;
  color: #5E17EB!important;
}

/*Break points | Responsividade da navbar*/ 
@media only screen and (max-width: 768px) {
   header {
     background-image: url('/src/assets/img/header-resp.svg')!important;
     height: 400px!important;
  } li{
     font-size: 10px!important;
  }  #btn-entrar {
     width: 63px;
     font-size: 10px;  
  } .nav-link{
     margin-right: 0;
  } .btn {
    font-size: 10px!important;
 }
}

/*Break points | Responsividade da LOGO*/ 
@media only screen and (max-width: 980px) {
  .img-logo {
     width: 130px!important;
  }
}

